*{
    --gris-claro: #6F757C;
    --negro-claro: #1B1D1F;
    --negro: #111315;
    --ver-pastel: #BEE3CC; 
    --blanco: #FEF7EE;
    --amarillo-ocre: #F6C768;
    --naranja: #ED735D;

}
body{
    
}